*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslategrey;
}

.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 15px;
    background-color: cadetblue;
}

a:hover{
    cursor: pointer;
}